body, h1, label, input, select, option {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 200vh;
}


form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Style the heading */
h1 {
  margin-bottom: 20px;
  color: #333; /* Change heading color */
}

/* Style the labels and inputs */
label {
  display: block;
  margin-bottom: 10px;
  color: #555; /* Change label color */
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #555; /* Change input text color */
}

/* Style the radio buttons and checkboxes */
input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

/* Style the submit button */
input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}